body {
  background-image: url("/image/bg.webp");
  background-size: cover;
  background-repeat: no-repeat;
}

body::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: -1;
}

.btn1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 20px;
    cursor: pointer;
    background-color: #eab308;
    color: black;
    width: 200px;
    height: 90px;
    transition: all 0.2s ease-in-out;
    position: fixed;
    top: 80%;
    right: 10px;
    z-index: 100;
    font-weight: bold;
  }
  
  .btn1:hover {
    background-color: #d79a00;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    transform: translateY(-1px);
  }
  
  /* Styling for the icon */
  .btn1 img {
    height: 30px;
    margin-right: 10px; /* Add margin to separate icon from text */
  }
  
  /* Styling for the text */
  .btn1 span { /* Assuming your text is wrapped in a span element */
    flex: 1; /* Allow text to grow and fill remaining space */
    text-align: left; /* Align text to the left */
    
  }
  